<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>고객센터</title>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        a {
            margin: 10px;
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline; /* 마우스 오버 시 밑줄 효과 */
        }
    </style>
</th:block>

<div layout:fragment="content">
    <h2>고객센터</h2>
    <a href="customer-service/inquiries">1:1 상담 문의</a>
    <a href="customer-service/faqs">자주 묻는 질문</a>
</div>

</html>
