<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payment Page</title>
  <!-- jQuery CDN 추가 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- 아임포트 스크립트 추가 -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<!-- 버튼들 -->
<button id="cardPay" onclick="handlePayment('html5_inicis.INIpayTest', 'card')">카드 결제</button>
<button id="kakaoPay" onclick="handlePayment('kakaopay', 'card')">카카오페이 결제</button>

<script th:inline="javascript">
  var IMP = window.IMP;
  IMP.init("imp14351567");

  function handlePayment(pg, payMethod) {
      console.log("handlePayment");
      console.log(pg);
      console.log(payMethod);

      var order = {
          productId: 1,
          productName: '상품1',
          price: 3000,
          quantity: 1
      };

      // 결제하기 버튼 클릭 시 결제 요청
      IMP.request_pay({
          pg: pg,
          pay_method: payMethod,
          merchant_uid: '212R3A11TD233AAC', // 주문번호 생성
          name: '상품1',
          amount: 3000, // 결제 가격
          buyer_name: '김민규',
          buyer_tel: '010-1234-5678'
      }, function(rsp) {
          if (rsp.success) {
              // 결제 성공 시
              $.ajax({
                  type: 'POST',
                  url: 'api/v1/payment/validation/' + rsp.imp_uid
              }).done(function(data) {
                  console.log(data);
                  if (order.price == data.response.amount) {
                      order.impUid = rsp.imp_uid;
                      order.merchantUid = rsp.merchant_uid;
                      // 결제 금액 일치. 결제 성공 처리
                      $.ajax({
                          url: "api/v1/payment/order",
                          method: "post",
                          data: JSON.stringify(order),
                          contentType: "application/json"
                      }).then(function(res) {
                          console.log("res", res);
                          console.log("rsp", rsp);
                          var msg = '결제가 완료되었습니다.';
                          msg += '고유ID : ' + rsp.imp_uid;
                          msg += '상점 거래ID : ' + rsp.merchant_uid;
                          msg += '결제 금액 : ' + rsp.paid_amount;
                          msg += '카드 승인번호 : ' + rsp.apply_num;
                          alert(msg);
                      }).catch(function(error) {
                          alert("주문정보 저장을 실패 했습니다.");
                      });
                  }
              }).catch(function(error) {
                  alert('결제에 실패하였습니다. ' + rsp.error_msg);
              });
          } else {
              alert(rsp.error_msg);
          }
      });
  }
</script>

</body>
</html>