<!-- resources/templates/payment/success.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 성공</title>
</head>
<body>
<h1>결제 성공</h1>
<p>주문 번호: "[[${order.id}]]"</p>
<p>결제 금액: "[[${order.totalAmount}]]" 원</p>
<p>결제 상태: "[[${order.orderStatus}]]"</p>
<p>결제 상태: "[[${order.orderDate}]]"</p>
<p>결제 상태: "[[${order.member}]]"</p>
<p>결제 상태: "[[${order.orderItems}]]"</p>
<p>결제 상태: "[[${order.payments}]]"</p>
<p>주문이 완료되었습니다. 감사합니다!</p>
<a th:href="@{/}">확인</a>
</body>
</html>
