<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bid Item List</title>
</head>
<body>
<h1>Bid Item List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Price</th>
        <th>Max Price</th>
        <th>Bid Start Date</th>
        <th>Bid End Date</th>
        <th>Status</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${bidItemList}">
        <td th:text="${item.bidItemId}"></td>
        <td th:text="${item.bidItemName}"></td>
        <td th:text="${item.bidItemDesc}"></td>
        <td th:text="${item.startPrice}"></td>
        <td th:text="${item.maxPrice}"></td>
        <td th:text="${item.bidStartDate}"></td>
        <td th:text="${item.bidEndDate}"></td>
        <td th:text="${item.itemStatus}"></td>
        <td><img th:src="${item.bidImgUrl}" alt="Bid Item Image"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>
