<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout2}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
</head>



<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function(){-->
<!--            var price = $("#price").val();-->
<!--            $("#priceDisplay").html(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원');-->
<!--            calculateTotalPrice();-->

<!--            $("#count").change(function(){-->
<!--                calculateTotalPrice();-->
<!--            });-->
<!--        });-->

<!--        function calculateTotalPrice(){-->
<!--            var count = $("#count").val();-->
<!--            var price = $("#price").val();-->
<!--            var totalPrice = price * count;-->
<!--            $("#totalPrice").html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원'); // 콤마 추가-->
<!--        }-->

<!--        function order(){-->
<!--            var token = $("meta[name='_csrf']").attr("content");-->
<!--            var header = $("meta[name='_csrf_header']").attr("content");-->

<!--            var url = "/order";-->
<!--            var paramData = {-->
<!--                itemId: $("#itemId").val(),-->
<!--                count: $("#count").val()-->
<!--            };-->

<!--            var param = JSON.stringify(paramData);-->

<!--            $.ajax({-->
<!--                url: url,-->
<!--                type: "POST",-->
<!--                contentType: "application/json",-->
<!--                data: param,-->
<!--                beforeSend: function(xhr){-->
<!--                    xhr.setRequestHeader(header, token);-->
<!--                },-->
<!--                dataType: "json",-->
<!--                cache: false,-->
<!--                success: function(result, status){-->
<!--                    alert("주문이 완료 되었습니다.");-->
<!--                    location.href = '/';-->
<!--                },-->
<!--                error: function(jqXHR, status, error){-->
<!--                    if(jqXHR.status == '401'){-->
<!--                        alert('로그인 후 이용해주세요');-->
<!--                        location.href = '/members/login';-->
<!--                    } else {-->
<!--                        alert(jqXHR.responseText);-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--        function addCart(){-->
<!--            var token = $("meta[name='_csrf']").attr("content");-->
<!--            var header = $("meta[name='_csrf_header']").attr("content");-->

<!--            var url = "/cart";-->
<!--            var paramData = {-->
<!--                itemId: $("#itemId").val(),-->
<!--                count: $("#count").val()-->
<!--            };-->

<!--            var param = JSON.stringify(paramData);-->

<!--            $.ajax({-->
<!--                url: url,-->
<!--                type: "POST",-->
<!--                contentType: "application/json",-->
<!--                data: param,-->
<!--                beforeSend: function(xhr){-->
<!--                    xhr.setRequestHeader(header, token);-->
<!--                },-->
<!--                dataType: "json",-->
<!--                cache: false,-->
<!--                success: function(result, status){-->
<!--                    alert("상품을 장바구니에 담았습니다.");-->
<!--                    location.href = '/';-->
<!--                },-->
<!--                error: function(jqXHR, status, error){-->
<!--                    if(jqXHR.status == '401'){-->
<!--                        alert('로그인 후 이용해주세요');-->
<!--                        location.href = '/members/login';-->
<!--                    } else {-->
<!--                        alert(jqXHR.responseText);-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15 {
            margin-bottom: 15px;
        }
        .mgt-30 {
            margin-top: 30px;
        }
        .mgt-50 {
            margin-top: 50px;
        }
        .repImgDiv {
            margin-right: 15px;
            height: auto;
            width: 50%;
        }
        .repImg {
            width: 100%;
            height: 400px;
            object-fit: contain;
            object-position: center;
        }
        .wd50 {
            height: auto;
            width: 50%;
        }
       .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: absolute;
  z-index:10px;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    </style>
</th:block>

<div layout:fragment="content" style="margin-left: 25%; margin-right: 25%;">

    <input type="hidden" id="biditemId" th:value="${biditem.bidItemId}">

    <div class="d-flex">
        <div class="repImgDiv">
            <img th:src="${biditem.biditemImgDtoList[0].imgUrl}" class="rounded repImg">
        </div>
        <div class="wd50">
<!--            <span th:if="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">-->
<!--                판매중-->
<!--            </span>-->
<!--            <span th:unless="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15">-->
<!--                품절-->
<!--            </span>-->
            <div class="h4" th:text="${biditem.bidItemName}"></div>
            <hr class="my-4">
            입찰횟수 :<div class="h4" th:text="${biditem.bidCount-1}"></div>

            <button type="button" class="btn btn-primary" id="bidListButton" th:data-biditemid="${biditem.bidItemId}">입찰 목록 보기</button>

            <!-- 입찰목록 모달 창 -->
            <div class="modal fade" id="bidListModal" tabindex="-1" role="dialog" aria-labelledby="bidListModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bidListModalLabel">입찰 목록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table id="bidTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">금액</th>
                                    <th scope="col">등록자</th>
                                    <th scope="col">시간</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#bidListButton').click(function() {
                        var bidItemId = $(this).data('biditemid');
                        console.log('AJAX 요청 시작. Bid Item ID:', bidItemId);  // 로그 추가

                        $.ajax({
                            url: '/biditem/getBidList',
                            type: 'GET',
                            data: { bidItemId: bidItemId },
                            dataType: 'json',
                            success: function(data) {
                                console.log('Data received:', data);  // 데이터 수신 로그
                                var bidTableBody = $('#bidTable tbody');
                                bidTableBody.empty();
                                var formatter = new Intl.NumberFormat('ko-KR', { style: 'currency', currency: 'KRW' });

                                $.each(data, function(index, bid) {
                                    bidTableBody.append(
                                        '<tr>' +
                                        '<td>' + bid.rownum + '</td>' +
                                        '<td>' + bid.bidRegPrice.toLocaleString('ko-KR') + '원</td>' +
                                        '<td>' + bid.createdBy + '</td>' +
                                        '<td>' + moment(bid.regtime).format('YYYY-MM-DD HH:mm:ss') + '</td>' +
                                        '</tr>'
                                    );
                                });
                                $('#bidListModal').modal('show');
                            },
                            error: function(xhr, status, error) {

                                alert('로그인 후 이용가능합니다.');
                                window.location.href= '/members/login';
                            }
                        });
                    });
                });
            </script>




            <hr class="my-4">
            현재 입찰가 :
            <input type="number"   class="form-control h4" id="bidNowPrice" name="bidNowPrice" th:value="${biditem.bidNowPrice}" th:min="${minPrice}" max="${biditem.maxPrice}" required>
            <input type="hidden" id="minPrice" th:value="${minPrice}">
            <hr class="my-4">
            즉시 구매값 :<div class="h4" th:text="${biditem.maxPrice}"></div>


            <h3 class="card-title text-danger" th:attr="data-enddate=${biditem.bidEndDate}"></h3>
            남은시간 : <p th:id="'remainingTime-' + ${biditem.bidItemId}">남은 시간 계산 중...</p>



            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const endDateElement = document.querySelector('.card-title.text-danger');
                    const endDateStr = endDateElement.getAttribute('data-enddate');
                    const endDate = new Date(endDateStr);
                    const remainingTimeElement = document.querySelector('p[id^="remainingTime-"]');

                    function updateRemainingTime() {
                        const now = new Date();
                        const timeDiff = endDate - now;

                        if (timeDiff <= 0) {
                            remainingTimeElement.textContent = '경매 종료';
                            return;
                        }

                        const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                        const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                        const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

                        remainingTimeElement.textContent = `${days}일 ${hours}시간 ${minutes}분 ${seconds}초 남음`;

                        if (timeDiff <= 1000 * 60 * 60 * 24) {
                            remainingTimeElement.style.color = 'red';
                        }
                    }

                    updateRemainingTime();
                    setInterval(updateRemainingTime, 1000);
                });
            </script>


            마감기한:
            <div id="formattedEndDate" class="h4" th:text="${biditem.bidEndDate}"></div>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const bidEndDateStr = "[[${biditem.bidEndDate}]]";
                    const bidEndDate = new Date(bidEndDateStr);

                    const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
                    const formattedEndDate = new Intl.DateTimeFormat('ko-KR', options).format(bidEndDate);

                    document.getElementById('formattedEndDate').textContent = formattedEndDate;
                });
            </script>
            판매자 :<div class="h4" th:text="${biditem.memberId}"></div>
            <img style="width:20px;" th:if="${biditem.mgst != null and biditem.mgst == 'NORMAL'}" th:src="@{/images/bronze.png}" alt="Normal" />
            <img style="width:20px;" th:if="${biditem.mgst != null and biditem.mgst == 'SILVER'}" th:src="@{/images/silver.png}" alt="silver" />
            <img style="width:20px;" th:if="${biditem.mgst != null and biditem.mgst == 'GOLD'}" th:src="@{/images/gold.png}" alt="gold" />
            <img style="width:20px;" th:if="${biditem.mgst != null and biditem.mgst == 'VIP'}" th:src="@{/images/vip.png}" alt="vip" />
            <img style="width:20px;" th:if="${biditem.mgst != null and biditem.mgst == 'VVIP'}" th:src="@{/images/vvip.png}" alt="vvip" />
                    </div>
                </div>




    <!-- 입찰 버튼 표시 조건 -->
    <div th:if="${biditem.itemStatus == 'ING'}" class="text-right">
        <button type="button" class="btn btn-light border border-primary btn-lg" id="bidButton" sec:authorize="isAuthenticated()">입찰하기</button>
        <button type="button" class="btn btn-primary btn-lg" sec:authorize="isAuthenticated()">즉시구매하기</button>
    </div>

    <script>

        $(document).ready(function() {
            var csrfToken = $('meta[name="_csrf"]').attr('content');
            var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            $('#bidButton').click(function() {
                var bidNowPrice = parseInt($('#bidNowPrice').val(), 10);
                var minPrice = parseFloat($('#minPrice').val());
                var currentPrice = minPrice - 1;
                var bidItemId = $('#biditemId').val();

                console.log('bidNowPrice: ' + bidNowPrice + ', minPrice: ' + minPrice + ', currentPrice: ' + currentPrice + ', bidItemId: ' + bidItemId);

                if (bidNowPrice > currentPrice) {
                    $.ajax({
                        url: '/biditem/placeBid',
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'text',
                        data: {
                            bidNowPrice: bidNowPrice,
                            bidItemId: bidItemId
                        },
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function(response) {
                            var responseText = JSON.stringify(response);
                            console.log('response: ' + responseText);
                            alert('입찰 성공 ');
                            location.reload();
                        },
                        error: function(error) {
                            console.log('error: ' + JSON.stringify(error));
                            alert('입찰 실패');
                        }
                    });
                } else {
                    alert('새로운 입찰가는 현재 입찰가보다 커야 합니다.');
                }
            });
        });


    </script>

    <!-- 경매 대기중 버튼 -->
    <div th:if="${biditem.itemStatus == 'WAIT'}" class="text-right">
        <button type="button" class="btn btn-warning btn-lg">경매대기중</button>
    </div>
    <!-- 경매 종료 버튼 -->
    <div th:if="${biditem.itemStatus != 'ING' and biditem.itemStatus != 'WAIT'}" class="text-right">
        <button type="button" class="btn btn-danger btn-lg">경매종료</button>
    </div>

    <button type="button" class="btn btn-primary btn-lg" th:onclick="'location.href=\'/biditem/list\''">목록으로</button>

        <div class="jumbotron jumbotron-fluid mgt-30">
                    <div class="container">
                        <h4 class="display-5">상품 상세 설명</h4>
                        <hr class="my-4">
                        <p class="lead" th:text="${biditem.bidItemDesc}"></p>
                    </div>
                </div>

                <div th:if="${biditem.biditemImgDtoList != null and #lists.size(biditem.biditemImgDtoList) > 0}" class="text-center">
                    <div th:each="itemImg, iterStat : ${biditem.biditemImgDtoList}">
                        <div th:if="${iterStat.index < 5}">
                            <img th:if="${itemImg.imgUrl != null}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" style="width: 800px;">
                        </div>
                    </div>
                </div>

            </div>

            </html>
