html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.content {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

/* footer start **************************************************************/
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: left !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* footer end **************************************************************/