html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    flex: 1;
    margin-top:40px;
    margin-left:100px;
    margin-right:100px;
    padding-bottom: 40px;
}

.content {
   flex: 1;
    margin: 50px 200px 100px;
    padding-bottom: 50px;
}

/* footer start **************************************************************/
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: left !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* footer end **************************************************************/
