<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 부트스트랩 CSS CDN 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small">
        <div class="container-fluid">
            <div class="row text-center">
                <!-- 로고 영역 -->
                <div class="col-sm-2" >
                    <img th:src="@{/images/whiteLogo.png}" alt="WhiteLogo" class="img-fluid" style="width:200px; margin-top:15px;">
                </div>
                <!-- 회사 정보 영역 -->
                <div class="col-sm-5 text-left" style=margin-top:15px; >
                    <p>회사소개 | 이용약관 | 개인정보취급방침 | 이메일무단수집거부 | 고객센터</p>
                    상호명: (주)티앤디 | 대표이사: 김재혁 | 주소: 서울특별시 관악구 남부순환로 1820, 에그옐로우 10층 (08787)<br>
                    Tel: 02-345-6789 | Fax: 02-345-6789 | Email: tandd@google.co.kr | 사업자 등록번호: 101-23-45678<br>
                    <span style="font-size:12px; color:darkgray">(주)티앤디는 매도인인 경우를 제외하고 사이트 상에 등록된 모든 상품과 그 내용에 대하여 책임을 지지 않습니다.<br>
                    Copyright© 1997, tandd, Inc All rights reserved.</span>
                </div>
                <div class="col-sm-1" ></div>
                <!-- 고객센터이미지 영역 -->
                <div class="col-sm-2 text-right">
                    <img th:src="@{/images/call.png}" alt="call" class="img-fluid" style="width:120px; margin-top:15px;">
                </div>
                <!-- 고객센터 정보 영역 -->
                <div class="col-sm-2 text-left">
                    <span style="font-size: 30px; font-weight:bold;">고객센터</span><br>
                    <span style="font-size: 25px; font-weight:bold;">02-345-6789<br></span>
                    평일 09:00 ~ 18:00<br>
                    점심 12:00 ~ 13:00<br>
                    <span style="font-size: 12px;">*주말 및 공휴일은 휴무입니다.</span>
                </div>
            </div>
        </div>
    </footer>
</div>