<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header">
    <nav class="navbar navbar-expand-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img th:src="@{/images/Logo.png}" alt="Logo" class="img-fluid" style="width:200px;">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/customer-service/inquiries">고객센터</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MEMBER')">
                    <a class="nav-link" href="/biditem/register">경매등록</a>
                </li>

                <!--                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                    <a class="nav-link" href="/biditem/register">상품 관리</a>-->
<!--                </li>-->
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/myPage">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">마켓으로</a>
                </li>
<!--                <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                    <span class="nav-link" id="username" th:text="${#authentication.name}"></span>-->
<!--                </li>-->
            </ul>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="navbar-brand" href="/cart" style="position: relative; display: inline-block;">
                    <img th:src="@{/images/cart.png}" alt="cart" class="img-fluid" style="width:35px;transform: scaleX(-1);">
                    <span th:text="${totalCount}" style="position: absolute;top: -4px;right: -12px;display: inline-block;width: 20px;height: 20px;border-radius: 50%;background-color: red;color: white;text-align: center;line-height: 20px;font-size: 14px;font-weight: bold;"></span>
                </a>
            </li>

            <form id="searchForm" class="form-inline my-2 my-lg-0" th:action="@{/biditem/list}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- Google 번역 -->
            <div id="google_translate_element" class="hd_lang" style="position: absolute; right: 10px; top: 10px;"></div>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function () {
                    var script = document.createElement('script');
                    script.src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
                    script.async = true;
                    document.head.appendChild(script);
                });

                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'ko',
                        includedLanguages: 'ko,zh-CN,zh-TW,ja,vi,th,tl,km,my,mn,ru,en,fr,ar,de',
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
                window.onload = function() {
                    const currentUrl = window.location.pathname;
                    const searchForm = document.getElementById("searchForm");
                    if (currentUrl.startsWith("/customer-service/")) {
                        searchForm.style.display = "none";
                    }
                    if (currentUrl.startsWith("/admin/")) {
                        searchForm.style.display = "none";
                    }
                    if (currentUrl.startsWith("/members/")) {
                        searchForm.style.display = "none";
                    }
                    if (currentUrl.startsWith("/orders")) {
                        searchForm.style.display = "none";
                    }
                    if (currentUrl.startsWith("/cart")) {
                        searchForm.style.display = "none";
                    }
                    if (currentUrl.includes("/biditem/mybidlist")) {
                        searchForm.style.display = "none";
                    }
                };
            </script>
            <!-- Google 번역.끝 -->
        </div>
    </nav>
</div>

</html>