<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var price = $("#price").val();
            $("#priceDisplay").html(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원');
            calculateTotalPrice();

            $("#count").change(function(){
                var stock = parseInt($("#stockDisplay").text(), 10); // 재고 수량 가져오기
                var count = parseInt($("#count").val(), 10); // 현재 입력된 수량

                if (count > stock) {
                    alert("재고 수량을 초과했습니다. 남은 재고 : " + stock + "개");
                    count = stock; // 재고 수량으로 설정
                    $("#count").val(count); // 수량 업데이트
                }
                calculateTotalPrice();
            });

            // 큰 이미지 초기 설정
            $("#largeImage").attr("src", $(".thumbnail-img").first().attr("src"));

            // 조그만 이미지 클릭 시 큰 이미지로 변경
            $(".thumbnail-img").click(function() {
                var src = $(this).attr("src");
                $("#largeImage").attr("src", src);
            });
        });

        function calculateTotalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price * count;
            $("#totalPrice").html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원'); // 콤마 추가
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href = '/';
                },
                error: function(jqXHR, status, error){
                    alert('로그인 후 이용해주세요');
                    location.href = '/members/login';
                }
            });
        }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href = '/cart';
                },
                error: function(jqXHR, status, error){
                    alert('로그인 후 이용해주세요');
                    location.href = '/members/login';
                }
            });
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15 {
            margin-bottom: 15px;
        }
        .mgt-30 {
            margin-top: 30px;
        }
        .mgt-50 {
            margin-top: 50px;
        }

        .repImg {
            width: 100%;
            height: 400px;
            object-fit: contain;
            object-position: center;
        }
        .carousel-img {
            width: 104px;
            height: 130px;
            cursor: pointer;
            object-fit: contain;
            object-position: center;
            margin-top:15px;
            border:2px solid silver;
            padding:3px;
            border-radius:10px;
            transition: scale 0.3s ease;
        }
        .carousel-img:hover {
            scale:1.2;
        }
        .flex-container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }
        .flex-item {
            flex: 1;
            margin-right: 100px;
        }
        .flex-item:last-child {
            margin-right: 0;
        }
        .thumbnail-container {
            display: flex;
            gap: 10px;
        }
        .wishlist-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0; /* 버튼의 여백 제거 */
    padding: 0; /* 패딩 제거하여 크기 최소화 */
}

.wishlist-btn .fa-heart {
    font-size: 24px;
    color: grey;
}

.wishlist-btn .fa-heart.red {
    color: red;
}

.wishlist-btn:focus {
    outline: none;
    box-shadow: none;
}
    </style>
</th:block>

<div layout:fragment="content" style="margin-left: 25%; margin-right: 25%;">
    <input type="hidden" id="itemId" th:value="${item.id}">
    <div style="width: 80%; margin: 0 auto;">
        <div class="flex-container mb-4">
            <!-- 큰 이미지 -->
            <div class="flex-item">
                <img id="largeImage" th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${item.itemNm}">
                <div class="thumbnail-container mb-4">
                    <!-- 조그만 이미지 -->
                    <img th:each="itemImg : ${item.itemImgDtoList}" th:if="${not #strings.isEmpty(itemImg.imgUrl)}"
                         th:src="${itemImg.imgUrl}" class="thumbnail-img carousel-img" alt="썸네일 이미지">
                </div>
                <span style="color:gray">※ 이미지를 클릭하면 크게 볼 수 있습니다.</span>
            </div>

            <!-- 상품 정보 -->
            <div class="flex-item">
                <span th:if="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                    판매중
                </span>
                <span th:unless="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15">
                    품절
                </span>
                <div></div> <!-- 빈 div로 첫 번째 줄을 비우기 위해 추가 -->
                <button id="wishlistButton" data-biditemid="${biditem.bidItemId}" class="wishlist-btn">
                    <i id="heartIcon" class="far fa-heart"></i> <!-- 기본은 빈 하트 -->
                </button>

                <script>
                    $(document).ready(function() {
                        var csrfToken = $('meta[name="_csrf"]').attr('content');
                        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');
                        var bidItemId = $('#itemId').val();
                        var heartIcon = $('#heartIcon');

                        // 페이지 로드 시 찜 여부 확인
                        $.ajax({
                            url: '/wishlist/check',
                            type: 'GET',
                            data: { ItemId: ItemId },
                            success: function(response) {
                                if (response) {
                                    heartIcon.addClass('red');
                                } else {
                                    heartIcon.removeClass('red');
                                }
                            }
                        });

                        // 찜 버튼 클릭 시 토글
                        $('#wishlistButton').click(function() {
                            $.ajax({
                                url: '/wishlist/toggle',
                                type: 'POST',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                data: { ItemId: ItemId },
                                beforeSend: function(xhr) {
                                    xhr.setRequestHeader(csrfHeader, csrfToken);
                                },
                                success: function(response) {
                                    if (heartIcon.hasClass('red')) {
                                        heartIcon.removeClass('red');
                                        alert('찜 해제되었습니다.');
                                    } else {
                                        heartIcon.addClass('red');
                                        alert('찜 등록되었습니다.');
                                    }
                                },
                                error: function(xhr, status, error) {
                                    console.log('Status:', status);
                                    console.log('Error:', error);
                                    console.log('ResponseText:', xhr.responseText);
                                    alert('찜 기능에 실패했습니다.');
                                }
                            });
                        });
                    });
                </script>

                <div class="h4" th:text="${item.itemNm}"></div>
                <hr class="my-4">

                <div class="text-right">
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${item.price}" id="price" name="price">
                        <span id="priceDisplay"></span>
                    </div>
                    <div th:if="${item.stockNumber > 0}" class="input-group w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text">수량</span>
                        </div>
                        <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </div>
                </div>
                <hr class="my-4">
                남은 수량 : <span id="stockDisplay" th:text="${item.stockNumber}"></span>개 <br>
                    판매자 <span style="font-weight:bold" th:text="${item.sellerId}"></span>
                    <img style="width:20px;" th:if="${item.sellerRole == 'NORMAL'}" th:src="@{/images/bronze.png}" alt="Normal" />
                    <img style="width:20px;" th:if="${item.sellerRole == 'SILVER'}" th:src="@{/images/silver.png}" alt="Silver" />
                    <img style="width:20px;" th:if="${item.sellerRole == 'GOLD'}" th:src="@{/images/gold.png}" alt="Gold" />
                    <img style="width:20px;" th:if="${item.sellerRole == 'VIP'}" th:src="@{/images/gold.png}" alt="VIP" />
                    <img style="width:20px;" th:if="${item.sellerRole == 'VVIP'}" th:src="@{/images/gold.png}" alt="VVIP" />
                <div th:if="${item.stockNumber > 0}" class="text-right mgt-50">
                    <h5>결제 금액</h5>
                    <h3 id="totalPrice" class="font-weight-bold"></h3>
                </div>

                <div th:if="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="text-right">
                    <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
                </div>
                <div class="text-right" style="margin-top:10px;">
                    <button type="button" class="btn btn-primary btn-lg" onclick="history.back();">목록으로</button>
                </div>
                <div th:unless="${item.itemSellStatus == T(com.treasuredigger.devel.constant.ItemSellStatus).SELL}" class="text-right">
                    <button type="button" class="btn btn-danger btn-lg">품절</button>
                </div>
            </div>
        </div>

        <div>
            <hr class="my-4">
            <div class="itemDesc-container" style="margin-bottom:50px;">
                <h4>상품 상세 설명</h4>
                <p style="white-space: pre-wrap; margin-top:30px" th:text="${item.itemDetail}"></p>
            </div>
        </div>
        <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
            <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded" width="90%" style="margin-bottom:50px">
        </div>
    </div>
</div>
</html>
